DATABASE_URL=${DATABASE_URL}
DATABASE_DRIVER_CLASS=${DATABASE_DRIVER_CLASS}
DATABASE_DRIVER_LOCATION=${DATABASE_DRIVER_LOCATION}
DATABASE_USER=${DATABASE_USER}
DATABASE_PASSWORD=${DATABASE_PASSWORD}
DATABASE_VALIDATION_QUERY=${DATABASE_VALIDATION_QUERY}
SQL_SELECT_QUERY=${SQL_SELECT_QUERY}
FETCH_SIZE=${FETCH_SIZE}
MAX_ROWS_PER_FLOW_FILE=${MAX_ROWS_PER_FLOW_FILE}
RUN_SCHEDULE=${RUN_SCHEDULE}
OUTPUT_FILENAME_PREFIX=${OUTPUT_FILENAME_PREFIX}
PARQUET_COMPRESSION=${PARQUET_COMPRESSION}
