nifi.flow.configuration.file=./conf/flow.json.gz
nifi.flow.configuration.archive.enabled=false
nifi.flow.configuration.archive.dir=./conf/archive
nifi.flowcontroller.autoResumeState=true
nifi.flowcontroller.graceful.shutdown.period=10 sec
nifi.administrative.yield.duration=30 sec
nifi.bored.yield.duration=10 millis
nifi.queue.backpressure.count=10000
nifi.queue.backpressure.size=1 GB
nifi.authorizer.configuration.file=./conf/authorizers.xml
nifi.login.identity.provider.configuration.file=./conf/login-identity-providers.xml
nifi.templates.directory=./conf/templates
nifi.ui.banner.text=MiNiFi Java Parquet sample
nifi.nar.library.directory=./lib
nifi.nar.library.directory.extra=/opt/minifi/extra-nars
nifi.nar.working.directory=./work/nar
nifi.documentation.working.directory=./work/docs/components
nifi.state.management.configuration.file=./conf/state-management.xml
nifi.state.management.provider.local=local-provider
nifi.variable.registry.properties=./conf/minifi-env.properties
nifi.sensitive.props.key=${NIFI_SENSITIVE_PROPS_KEY}
nifi.sensitive.props.algorithm=NIFI_PBKDF2_AES_GCM_256
